@import"./variables";
@import"./resets";
@import"./mixins";
@import"./extends";
@import"./maps";

nav{
    height: 12rem;
    background: $gradient;

ul{
    list-style: none;
}

li{
    margin-right: 1.0rem;
        a{
            text-decoration: none;
        }
    }
}

.text{
    background: $gradient;
    @include text-img(450px, 100px, 50px, center, 20px);
}

.text-index{
    background: $gradient;
    @extend %text-index;
}

/* PRODUCTOS */





/* TIENDAS */

.img-tiendas1{
    height:$img-tiendas1;
}

.img-tiendas2{
    height:$img-tiendas2;
}

/* NOSOTROS */
